*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

ul, ol {
    padding-left: 14px; // li width
}

table {
    // border-collapse: collapse;
}
